.btn__icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* START: icons */
.icon--social-media {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.icon--social-media:hover {
  opacity: .5;
}

.icon--behance-black {
  background-image: url('../../icons/black/behance.svg');
}

.icon--github-black {
  background-image: url('../../icons/black/github.svg');
}

.icon--instagram-black {
  background-image: url('../../icons/black/instagram.svg');
}

.icon--linkedin-black {
  background-image: url('../../icons/black/linkedin.svg');
}

.icon--patreon-black {
  background-image: url('../../icons/black/patreon.svg');
}
/* END: icons */

ul li {
  margin: 0 2rem 2rem 2rem;
}

.container {
  max-width: var(--app-max-width);
  padding: 2rem;
  margin: auto;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-10 {
  margin-top: 10rem;
}

.m-5-auto {
  margin: 5rem auto;
}

ul {
  padding: 0;
}

.breadcrumb {
  margin: 1.5rem auto;
}

.ghost {
  height: 8rem;
  width: 100%;
}

/* START: titles */
/* TITLE: BIG UNDERLINED */
.titles--big-underlined__container {
  max-width: var(--app-max-width);
}

.titles--big-underlined__title {
  display: block;
  align-items: baseline;

  border-bottom: 1px solid grey;
}

.titles--big-underlined__title h1 {
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
  .titles--big-underlined {
    max-width: var(--app-max-width);
    margin: 2rem auto;
  }

  .titles--big-underlined__title {
    display: flex;
    justify-content: space-between;
  }
}
/* END: titles */

.two-columns--only-desktop {
  display: block;
}

@media screen and (min-width: 900px) {
  .two-columns--only-desktop {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%;
  }
}