:root {
  --app-max-width: 1200px;
  --app-padding: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 14px;
}

button {
  padding: 0.5rem 2rem;

  border-radius: 4px;
  border: none;

  background-color: #000000;

  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
}

button:hover {
  background-color: #212121;
}

.btn__icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 4rem;
}

ul li {
  margin: 0 2rem 2rem 2rem;
}

.container {
  max-width: var(--app-max-width);
  padding: 2rem;
  margin: auto;
}

.mt-10 {
  margin-top: 10rem;
}

.m-5-auto {
  margin: 5rem auto;
}


ul {
  padding: 0;
}

.breadcrumb {
  margin: 1.5rem auto;
}