:root {
  --app-max-width: 1200px;
  --app-padding: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 14px;
}

button {
  padding: 1rem 2rem;

  border-radius: 4px;
  border: none;

  background-color: #000000;
  color: #ffffff;

  cursor: pointer;
}

button:hover {
  background-color: #212121;
}

h1 {
  font-size: 4rem;
}

ul li {
  margin: 2rem;
}

.container {
  max-width: var(--app-max-width);
  width: 100%;
  padding: 2rem;
  margin: auto;
}

.mt-10 {
  margin-top: 10rem;
}