.portfolio__gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  margin-top: 5rem;
}

.portfolio__gallery__link:hover .portfolio__gallery__image {
  filter: saturate(0);
}

.portfolio__gallery__image {
  transition: filter 0.3s ease;
  width: 100%;
}
.portfolio__gallery__image--square {
  height: 100%;
}

/* FEATURE: BLACK AND WHITE: */
.portfolio__gallery__image.dark {
  filter: saturate(0);
}
.portfolio__gallery__link:hover .portfolio__gallery__image.dark {
  filter: saturate(1);
}