.hero {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100vh;

  display: flex;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content_box {
  width: fit-content;
  height: fit-content;
  max-width: var(--app-max-width);
  padding: 2rem;

  border-radius: 1rem;
}

.hero div h1 {
  margin: 0;
  width: fit-content;
}

.hero__links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hero__links img {
  width: 36px;
  transition: width 0.3s ease;
}

.hero__links img:hover {
  width: 40px;
}

/* variations  */
.hero--home__content {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
}

.hero--home__content.inner {
  margin-top: 10rem;
}

.hero--home__content > * {
  margin: auto 0;
}

.hero--home__content > img {
  max-width: 100%;
  max-width: -webkit-fill-available;
}

.hero__text_box {
  padding: 1rem;
  border-radius: 1rem;

  background-color: #ffffffa6;
}

.hero__btn {
  margin-top: 2rem;
}

.container--buttons {
  display: block;
  margin: 4rem 0 0 0;
}

.container--buttons button {
  width: 100%;
}

.container--buttons a:first-child button {
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 1000px) {
  .hero {
    height: 70vh;
  }

  .hero--home {
    min-height: auto;
    height: auto;
  }

  .hero--home__content {
    padding: 5rem 0 0 0;
    margin: auto;
  }

  .hero--home__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    padding: 10rem 0 0 0;
  }

  .container--buttons {
    display: flex;
  }

  .container--buttons  button {
    width: fit-content;
  }

  .container--buttons a:first-child button {
    margin: 0 1rem 0 0;
  }
}