.hero {
  height: -webkit-fill-available;
  min-height: 100vh;
  width: 100%;

  display: flex;
  padding: var(--app-padding);

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content_box {
  width: fit-content;
  height: fit-content;
  max-width: var(--app-max-width);
  padding: 2rem;

  border-radius: 1rem;
}

.hero div h1 {
  margin: 0;
  width: fit-content;
}

.hero__links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hero__links img {
  width: 36px;
  transition: width 0.3s ease;
}

.hero__links img:hover {
  width: 40px;
}

/* variations  */
.hero--home__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10rem 2rem 2rem 2rem;
}

.hero--home__content > * {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.hero--home__content > img {
  max-width: 100%;
  max-width: -webkit-fill-available;
}

.hero__text_box {
  padding: 1rem;
  border-radius: 1rem;

  background-color: #ffffffa6;
}

.hero__btn {
  margin-top: 2rem;
}


@media screen and (min-width: 1000px) {
  .hero {
    height: 70vh;
  }
  .hero--home {
    min-height: auto;
    height: auto;
  }
  .hero--home__content {
    max-width: var(--app-max-width);
    padding: 5rem 2rem 0 2rem;
    margin: auto;
  }
}