.hero {
  height: -webkit-fill-available;
  width: 100%;

  display: flex;
  padding: var(--app-padding);

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content_box {
  width: fit-content;
  height: fit-content;
  max-width: var(--app-max-width);
  padding: 2rem;

  background-color: #ffffff85;
  border-radius: 1rem;
}

.hero div h1 {
  margin: 0;
}

.hero__links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hero__links img {
  width: 36px;
  transition: width 0.3s ease;
}

.hero__links img:hover {
  width: 40px;
}

/* variations  */
.hero--manifesto__content_box {
  width: 100%;
  max-width: var(--app-max-width);
  margin: 10rem auto;
}

.hero__text_box {
  padding: 1rem;
  border-radius: 1rem;

  background-color: #ffffffa6;
}

.hero__btn {
  margin-top: 2rem;
}