.portfolio--highlights {
  padding: var(--app-padding);
}

.portfolio--highlights__container-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}

.portfolio--highlights__container-buttons a,
.portfolio--highlights__container-buttons button {
  width: 100%;
}

.portfolio__banner {
  height: 600px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio__header-info {
  display: grid;
  gap: 1rem;
}

.portfolio__links_box {
  margin: 2rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.portfolio__proto_figma {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 500px;
}

@media screen and (min-width: 1000px) {
  .portfolio--highlights__container-buttons a,
  .portfolio--highlights__container-buttons button {
    width: fit-content;
  }
}