/* Fallback */
:root {
  --btn-default-bg: #212121;
  --btn-default-text: #fff;
  --btn-default-bg-hover: #565656;
  --btn-default-text-hover: #fff;
}

[data-theme='light'] {
  --btn-default-bg: #212121;
  --btn-default-text: #fff;
  --btn-default-bg-hover: #565656;
  --btn-default-text-hover: #fff;
}

[data-theme='dark'] {
  --btn-default-bg: #fff;
  --btn-default-text: #212121;
  --btn-default-bg-hover: #414141;
  --btn-default-text-hover: #fff;
}

button {
  padding: 10px 20px;
  margin: 5px 0;

  border-radius: 12px;
  border: none;

  background-color: var(--btn-default-bg);

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--btn-default-text);
}

button:hover {
  background-color: var(--btn-default-bg-hover);
  color: var(--btn-default-text-hover);

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.264);
  transition: all 0.3s ease 0s;
}

button:first-child {
  margin: 5px 5px 5px 0;
}

button:only-child {
  margin: 5px 0;
}

button:last-child {
  margin: 5px 0 5px 5px;
}