:root {
  --card-padding: 20px;
  --card-border-radius: 8px;
}

.card--glass {
  background: rgba(108, 108, 108, 0.045);
  backdrop-filter: blur(5px);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}