/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Tangerine */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* Beanie */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-tangerine: 'Tangerine', cursive;
  --font-beanie: 'Reenie Beanie', cursive;
}