@import url('./css/animations.css');

@import url('./css/buttons.css');

@import url('./css/display.css');
@import url('./css/margin.css');
@import url('./css/width.css');

@import url('./css/fonts.css');
@import url('./css/text.css');

:root {
  --theme: light;
  --max-width-container: 1100px;

  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  margin: 0;
  padding: 0;

  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  letter-spacing: 1.3px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}