@import './base.css';

:root {
  --app-max-width: 1100px;
  --box-shadow: 0 30px 70px -25px rgba(0, 0, 0, .1);

  /* Fallback */
  --body-bg: #ffffff;
  --body-color: #4F4F4F;
}

[data-theme='light'] {
  --body-bg: #ffffff;
  --body-color: #4F4F4F;
}

[data-theme='dark'] {
  --body-bg: #202020;
  --body-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-padding-top: 12em;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  line-height: 1.6;
  color: var(--body-color);

  font-family: var(--font-montserrat);
  font-optical-sizing: auto;
  font-size: 1em;

  background-color: var(--body-bg);
  transition:
    color 0.5s,
    background-color 0.5s;

  letter-spacing: 1.3px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  box-shadow: var(--box-shadow);
}

img,
picture {
  max-width: 100%;
  display: block;
}

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}